<manifest package="com.example.poc_mmvm"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <application>
        <activity android:name=".listing.TasksList"/>
    </application>
    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="com.example.poc_mmvm"/>

</manifest>
